<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwk.xintent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_intent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_intent_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <provider
            android:name=".ExternalFileProvider"
            android:authorities="xintent.sdcard.provider"
            android:enabled="true"
            android:permission=""
            android:exported="true"></provider>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposeddescription"
            android:value="Intent traffic monitoring tool." />

    </application>

</manifest>